Support Client Credentials Flow

Add opttion to authenticate to the target FHIR server via the Client Credentials Flow: [OAuth 2.0 RFC 6749, section 4.4](https://tools.ietf.org/html/rfc6749#section-4.4).